.connect-button {
    display: flex;
    align-items: center; /* Vertically center align items */
    justify-content: center; /* Horizontally center content */
    background-color: #007aff; /* Background color of the button */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around text and icon */
    border-radius: 10px; /* Rounded corners */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Font weight for the text */
    white-space: nowrap; /* Prevents wrapping of text */
}

.connect-button-icon {
    flex-shrink: 0; /* Prevent the icon container from shrinking */
    height: 24px; /* Height of the icon container */
    width: 42px; /* Width of the icon container */
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    margin-right: 10px; /* Space between icon and text */
}

.connect-button-icon img {
    max-width: 100%; /* Ensure the icon is contained within the icon-container */
    max-height: 100%;
}

.button-text {
    flex-grow: 1;
    margin-left: -34px;
    text-align: center; /* Center the text */
}
