#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: #1a1a1a;
}

.main-component {
    background-color: #aadaf1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
}

.components-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.headline {
    margin: 5px;
    color: #273f44;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.add-to-home {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1em 2em 2em 2em;
    gap: 1em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.landing-text {
    margin: 0 0 1em 0;
    padding: 0 1em 0 1em;
    color: #888a8c;
}

.connect-buttons {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1em 2em 2em 2em;
    gap: 1em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.wallet-overview {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1em 2em 2em 2em;
    gap: 0.6em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.address-container {
    font-size: 0.65em;
    font-weight: 600;
    text-align: center;
    color: #707579;
}

.wallet-provider-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 12%;
}

.wallet-provider-icon img {
    max-width: 100%;
    max-height: 100%;
}

.wallet-balance-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wallet-balance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.wallet-balance-header p {
    margin: 0;
}

.wallet-balance-value {
    font-size: 1.7em;
    font-weight: 800;
}

.wallet-details-container {
    height: 100vh;
    background-color: #efeff4;
}

.wallet-details-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.balance-details {
    display: flex;
    flex-direction: column;
}

.balance-details-header {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}

.balance-details-value {
    font-size: 3em;
    margin: 0;
    font-weight: 800;
}

.transaction-options {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 1em 2em;
}

.test-functions {
    display: flex;
    flex-direction: column;

    gap: 0.6em;
}

.transaction-history {
    display: flex;
    flex-direction: column;
    min-height: 150px;
}
