.avatar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    padding: 1em 2em 1em 2em;
}

.avatar img {
    max-width: auto;
    max-height: 100%;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: scale-down;
}
