.transaction-history-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: #ffffff;
}

.transaction-history-item-logo {
    width: 3em;
    height: 3em;
}

.transaction-history-item-logo img {
    width: 100%;
    height: 100%;
}

.transaction-history-item-spot-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.1em;
}

.transaction-history-item-spot-details p {
    margin: 0;
    font-weight: 600;
}

.transaction-history-item-spot-details-value {
    display: flex;
    gap: 5px;
    color: #707579;
}

.transaction-history-item-fiat-details {
    font-size: 1.1em;
    font-weight: 500;
    text-align: right;
}
